<div class= "container">
  <div class="text-center">
    <h1>コーピングレパートリー</h1>
    <div id="comments_area">
      <%= render partial: 'copings/list', locals: { copings: @copings } %>
    </div>
  </div>

  <%= render partial: 'copings/form', locals: { coping: @coping } %>
</div>
