<div class="container text-center">
  <h1>「おちつき」の使い方</h1>
  <h3>「おちつき」はあなたのストレス改善を目的としています</h3>

  <Hr>

  <h3>機能1:ストレス認識改善機能</h3>

  <p>ストレス認識改善機能は、ストレスに対する過剰な思い込みを認識してもらう機能です。ストレスを感じた時の内容と点数(0~100%)を登録していただき、
  それに対する過剰な思い込みの内容とストレスの減少度を点数で登録していただきます。そして、改善前と改善後のストレス軽減度を折れ線グラフで確認することができます。</p>

  <Hr>

  <h3>機能2:コーピングレパートリー機能</h3>
  <p>コーピングレパートリー機能は、自分の小さなストレス解消法を予め登録してもらい、ストレスを感じた時に確認することができる機能です。
  また、登録していただいたコーピングレパートリーからランダムで表示されます。</p>

  <Hr>

  <%= link_to 'マイページへ', user_path(current_user.id) %>
</div>
