// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.icon_image {
  width: 100px;
  height: 100px;
  //サイズ指定
  border-radius: 100px;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
}

.jumbotron { background:url('wheat-3506758_1920.jpg') center no-repeat; background-size: cover;}
.jumbotron h1{color: white;}
 .jumbotron p{color: white;}

/*ジャンボトロン-赤の指定*/
 .color h1{color: #0000cd;}
 .color p{color: #0000cd;}

 ul {
   margin: 0 auto;
   padding: 10px;
   list-style: none;
 }

 .row {
   word-wrap: break-word;
 }

 li {
   margin: 0 auto;
   padding: 10px;
   list-style: none;
 }

 .image {
   margin: 0 auto;
   // display: none;
 }

 .btn-flat-stripe {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  border-left: solid 4px #668ad8;
  border-right: solid 4px #668ad8;
  color: #668ad8;
  text-shadow: 0 0 5px white;
  padding: 0.5em 1em;
  background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  transition: .4s;
}

.btn-flat-stripe:hover {
  background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 5px,#e9f4ff 5px, #e9f4ff 9px);
}

.wrapper{
    min-height: 100vh;
    position: relative;
    padding-bottom: 120px;
    box-sizing: border-box;
}

footer{
    width: 100%;
    background-color: #89c7de;
    color: #fff;
    text-align: center;
    padding: 30px 0;

 position: absolute;
    bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
}
