// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.icon_image {
  width: 100px;
  height: 100px;
  //サイズ指定
  border-radius: 100px;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
}

.jumbotron { background:url('wheat-3506758_1920.jpg') center no-repeat; background-size: cover;}
.jumbotron h1{color: white;}
 .jumbotron p{color: white;}

/*ジャンボトロン-赤の指定*/
 .color h1{color: #0000cd;}
 .color p{color: #0000cd;}

 ul {
   margin: 0 auto;
   padding: 10px;
   list-style: none;
 }

 .row {
   word-wrap: break-word;
 }

 li {
   margin: 0 auto;
   padding: 10px;
   list-style: none;
 }

 .menu {
   color: black;
 }
